.figure--container {
    position: relative;
    border: 1px solid transparent;
}

.figure--container:hover {
    border-color: blue;
}

.figure--image {
    cursor: pointer;
}

.figure--label {
    position: absolute;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    background-color: whitesmoke;
    padding: 2px;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid black;
}

.work--rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.work--rate>p {
    font-family: Roboto, Arial;
    font-weight: 500;
}

@media (max-width: 390px) {
    .figure--container {
        width: 50px;
        height: 50px;
    }
    .figure--image {
        width: 50px;
        height: 50px;
    }
    .figure--label {
        font-size: 10px;
    }
}

@media (min-width: 391px) and (max-width: 767px) {
    .figure--container {
        width: 60px;
        height: 60px;
    }
    .figure--image {
        width: 60px;
        height: 60px;
    }
    .figure--label {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .figure--container {
        width: 70px;
        height: 70px;
    }
    .figure--image {
        width: 70px;
        height: 70px;
    }
    .figure--label {
        font-size: 16px;
    }
}

@media (min-width: 1025px) {
    .figure--container {
        width: 76px;
        height: 76px;
    }
    .figure--image {
        width: 76px;
        height: 76px;
    }
    .figure--label {
        font-size: 19px;
    }
}