.scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 80vh;
    min-height: 775px;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    scrollbar-color: #f3f3f3 transparent;
    scroll-behavior: smooth;
}

.scroll-item {
    scroll-snap-align: start;
    flex: 0 0 100%;
    padding: 1rem 2rem;
    overflow: hidden;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
