.pointing {
    cursor: pointer;
}

.pointing:hover:after {
    display: block;
    border: 1px solid black;
    width: 100%;
}
.pointing:hover {
    fill: #b7e4fb;
}

.control--box {
    position: absolute;
    backdrop-filter: blur(6px);
    background-color: transparent;
    border: 2px solid #000;
    width: 100%;
    padding: 4px;
    transform: translate(-32px, 50px);
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
}